@charset "utf-8";
body {
    color: #666;
    font-size: 12px;
}

a {
    color: #666;
}


/* ==>S 布局的CSS代码 */

.h-header {
    width: 100%;
}

.h-header .top-nav {
    margin: 0 auto;
    width: 1190px;
    height: 74px;
    padding-top: 24px;
}


/* S     logo区域 */

.h-header .top-nav .logo {
    float: left;
}

.top-nav .logo h1 {
    position: absolute;
    /* 首行缩进 ，用于隐藏title*/
    text-indent: -999999px;
}


/* E     logo区域 */

.h-header .top-nav .user-nav {
    float: right;
}


/* S        搜索框区域 */

.h-header .top-nav .search {
    margin: 0 265px 0 357px;
    position: relative;
    padding-top: 10px;
    line-height: 30px;
}


/* 设置放大镜的样式 */

.top-nav .search .icon-search {
    display: inline-block;
    position: absolute;
    /* right: 28px; */
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: url(../img/search.png) no-repeat;
    /* border: none; */
    left: 450px;
    top: 15px;
    /* top: 5px; */
}


/* 设置弹出课程选择层 */

.h-header .search .course-menu {
    position: absolute;
    top: 30px;
    left: -1px;
    display: none;
}

.h-header .course-menu li {
    border: 1px solid #e0e0e0;
    width: 66px;
}

.h-header .course-menu li:hover {
    background-color: #ccc;
}


/* 当鼠标滑动到课程上的时候,弹出显示的选择层 */

.h-header .search .cursor-sel:hover .course-menu {
    display: block;
}

.h-header .search .cursor-sel {
    display: inline-block;
    position: relative;
    width: 66px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-style: solid;
}

.h-header .search input {
    display: inline-block;
    width: 400px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding-left: 1em;
    border: 1px solid #e0e0e0;
}

.h-header .search .icon-sel {
    float: right;
    margin: 14px 4px;
}

.search .cursor-sel,
.search input {
    float: left;
}


/* S        用户导航区域 */

.h-header .user-nav {
    padding-top: 5px;
}

.h-header .user-nav .user-nav-item {
    float: left;
    height: 42px;
    line-height: 42px;
    margin: 0 11px 0 14px;
}


/* 设置头像 */

.h-header .user-nav .avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.h-header .user-nav .username {
    display: inline-block;
}

.h-header .user-nav .user {
    position: relative;
}

.h-header .user-nav .user:hover .user-menu-cover {
    display: block;
    z-index: 99999;
}


/* 设置弹出的用户的菜单 */

.h-header .user-nav .user-menu-cover {
    position: absolute;
    left: 0px;
    top: 43px;
    display: none;
}

.user-nav .user-menu-cover li {
    display: block;
    width: 123px;
    height: 40px;
    text-align: center;
    border: 1px solid #ccc;
}

.user-nav .user-menu-cover li:hover {
    background-color: #ccc;
}

.user-nav .user-menu-cover li:hover {
    background-color: #ccc;
}


/* 设置消息li */

.h-header .user-nav .msg-warp {
    position: relative;
    top: 7px;
    width: 34px;
    height: 40px;
    background: url(../img/sprite.png) left top no-repeat;
}


/* 设置消息数字 */

.h-header .user-nav .msg {
    position: relative;
    top: -16px;
    right: -15px;
    display: inline-block;
    width: 34px;
    height: 40px;
    line-height: 20px;
    padding-left: 7px;
    background: url(../img/sprite.png) left bottom no-repeat;
}

.h-header .user-nav .msg .msg-num {
    color: #fff;
}

.h-header .user-nav i.icon {
    display: inline-block;
    float: right;
    margin: 20px 0 0 5px;
}


/* E        用户导航区域 */


/* E        顶部区域 */


/* ======================================================================================= */


/* S       主导航区域区域 */


/* 通栏盒子设置背景色 */

.site-nav {
    background-color: #3598db;
    font-size: 16px;
}


/* 设置背景右侧的红色div */

.site-nav .bg-red-wrap {
    position: relative;
    margin-left: 1190px;
}

.site-nav .bg-red-wrap .bg-red {
    position: absolute;
    width: 50%;
    height: 60px;
    right: 0;
    top: 0;
    background-color: #e7594d;
}


/* 版心盒子 */

.site-nav .site-nav-wrap {
    margin: 0 auto;
    height: 60px;
    width: 1190px;
}

.site-nav li,
.site-nav a {
    color: #fff;
}


/* 左侧主导航 */

.site-nav .main-nav {
    float: left;
    height: 60px;
    line-height: 60px;
}

.site-nav .main-nav .menu-item {
    float: left;
    margin-right: 10px;
}

.site-nav .menu-item a {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 0 22px;
    border-radius: 3px;
}

.site-nav .menu-item a.cur {
    background-color: #2db0f9;
}

.site-nav .menu-item a:hover {
    background-color: #2db0f9;
}


/* 右侧附属导航 */

.site-nav .aside-nav {
    float: right;
    background-color: #e7594d;
    padding-left: 20px;
}

.site-nav .aside-nav li {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    margin-left: 20px;
}


/* E       主导航区域区域 */


/* ======================================================================================= */


/*  S      banner区域 */

.h-banner {
    overflow: hidden;
    width: 100%;
    height: 500px;
    position: relative;
    background: #61caff;
}

.h-banner .banner-img {
    width: 100%;
}

.h-banner .slide-bar {
    position: absolute;
    left: 50%;
    margin-left: -45px;
    top: 450px;
    width: 120px;
    height: 14px;
}

.h-banner .slide-bar .slide-btn {
    float: left;
}

.h-banner .slide-btn a {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../img/ico_circle.png) no-repeat -148px 0;
    margin-right: 15px;
}

.h-banner .slide-btn a.cur-banner,
.h-banner .slide-btn a.cur-banner:hover {
    background: url(../img/ico_circle.png) no-repeat -120px -46px;
}


/*  E      banner区域 */


/* ==========================================S  产品列表区域============================================= */

.h-main .couser-list {
    margin: 0 auto;
    width: 1190px;
    padding-top: 40px;
}


/* 设置课程列表标题 */

.p-module .p-module-head {
    height: 22px;
    font-size: 22px;
    color: #1a1a1a;
}

.p-module .p-module-head .p-module-title {
    height: 22px;
    padding-left: 18px;
    line-height: 22px;
    border-left: 7px solid #2bd0f9;
}


/* more超级链接处理 */

.p-module .p-module-head .p-module-more {
    float: right;
    line-height: 22px;
}


/* ==========================================E  课程列表区域=========================================== */


/* ======================================================================================= */


/* ======================================================================================= */


/* ==>E 布局的CSS代码 */